.app {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-background-primary);
  background: -webkit-linear-gradient(top right, var(--clr-background-primary), var(--clr-background-secondary));
  background: -moz-linear-gradient(top right, var(--clr-background-primary), var(--clr-background-secondary));
  background: linear-gradient(to bottom left, var(--clr-background-primary), var(--clr-background-secondary));
}

.app .desc {
  font-size: 3em;
  color: var(--clr-primary);
}