@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-background-primary: #F40957;
  --clr-background-secondary: #618F9D;
  --clr-primary: #002935;
}

body {
  font-family: 'Roboto', sans-serif;
}